
body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
.slider h3,
.slider h5,	 .clients h3 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.jumbo  {
 	

            height: 500px;



 }
 .jumbo img{
 	            height: 500px;
 	            width: 100%;


 	background-size: cover;
 	
 	background-repeat: no-repeat;
 }
 .jumbo .text-jumbo .judul{
	font-size: 40px;
	
	text-align: justify;
}
.jumbo .text-jumbo p {
	font-size: 12px;

}
.jumbo img{
	width: 400px;
}
.corona{
	height: 50px;
}
.corona img{
	height: 20px;
	width: 25px;
}
.corona a {
	text-decoration: none;
	color: black;
}
.corona h2{
	font-size: 13px;
	text-align: right;
	margin:  	auto;
	padding-top: 10px;
	margin-right: 10px;
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.8 !important;
}

.clients img {
	/*max-width: 130px*/;
	filter: drop-shadow(1px, 1px, 1px rgba(0, 0, 0, 0.9));
}
section,
footer {
	padding: 20px 0;
}

footer {
	height: 300px;
	
}

.striped {
	width: 100%;
	border: 1px solid black;

}

thead {
	padding-top: 300px;
}

.teks p{
	text-align: 	justify;	
	margin: 0;
	font-size: 	15px;

}
.p1{
	font-size: 	15px;
	font-weight: 	bold;	
	
}
section .card-panel.computer:hover{

		background-color: #17A2B8;
	transition: 1s;

	color:white;
 }
 section .card-panel.android:hover{
	color:white;
		background-color: #28A745;
			transition: 1s;


 }
 section .card-panel.games:hover{
	color:white;
		background-color: #1a237e;
	transition: 1s;
		
 }

 .panel .container .row .card-panel.info {
 	height: 	200px;
 	

 }

 .panel .update{
 	font-size: 22px;
 	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	margin-bottom: 30px;
 }
 .tabel {
 	height: 	300px;
 	overflow: 	scroll;
 	margin-bottom: 50px;

 }
 .tabel .container .row table{
 	font-size: 8px;
 }

 .tabel .container .row .col .card-panel.card-table{
 	height: 100%;

 }
 .container.peta{
 	height: 	100px;
 }

 #mapid {
 	height: 	300px;
 }

 .petaP{
 	height: 	400px;
 }
/*dekstop*/
@media (min-width: 992px) {
	body{
	background-color: white;
}
.jumbo .text-jumbo .judul{
	font-size: 40px;
	margin-top: 100px;
	text-align: justify;
}
.jumbo .text-jumbo p {
	font-size: 15px;
}
.jumbo img{
	width: 100%;
}
.corona{
	height: 60px;
}
.corona img{
	height: 30px;
	width: 30px;
}
.corona a {
	text-decoration: none;
	color: black;
}
.corona h2{
	font-size: 20px;
	text-align: right;
	margin:  	auto;
	padding-top: 10px;
	margin-right: 220px;
}
 .nav .right a:hover{
	background-color: blue;
}
.slider h3,
.slider h5,	 .clients h3 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.9 !important;
}

.clients img {
	/*max-width: 130px*/;
	filter: drop-shadow(1px, 1px, 1px rgba(0, 0, 0, 0.9));
}


section,
footer {
	padding: 20px 0;
}

footer {
	height: 300px;
}

.striped {
	width: 100%;
	border: 1px solid black;

}

thead {
	padding-top: 300px;
}

.teks p{
	text-align: 	justify;	
	margin: 0;
	font-size: 	15px;

}
.p1{
	font-size: 	15px;
	font-weight: 	bold;	
	
}

section .card-panel.computer:hover{

		background-color: #17A2B8;
	transition: 1s;

	color:white;
 }
 section .card-panel.android:hover{
	color:white;
		background-color: #28A745;
			transition: 1s;


 }
 section .card-panel.games:hover{
	color:white;
		background-color: #1a237e;
	transition: 1s;
		
 }
 .panel .container .row .card-panel:hover{
 	background-color: red;
 }
 .panel .container .row .card-panel.info {
 	height: 	250px;
 	

 }

 .panel .update{
 	font-size: 32px;
 	
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
 	margin-top: 10px;
 	margin-bottom: 20px;
 }
 .panel .container .row .card-panel.info img{
 	height: 	50px;
 	width: 50px;
 }
 .tabel .container .row table{
 	font-size: 20px;
 }
 .tabel {
 	height: 	500px;
 	overflow: 	auto;
 	margin-bottom: 50px;

 }
 .tabel .container .row .col .card-panel.card-table{
 	height: 100%;
 }
 .petaP{
 	height: 	600px;

 }
 
 #mapid {
 	height: 	500px;
 }
 section .container .centered .grey .atasbro{
           
        
 }

 /*jumbo*/

}

