*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}

body {
    font-family: PopLight;

}

body .portofolio {
    overflow: hidden;
}

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);

}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid blue;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;

}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        ;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.portofolio {
    overflow: hidden;
    color: white;
    background: radial-gradient(rgba(56, 54, 94, 1), rgba(15, 14, 32, 1));
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 20px;

}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}


.aboutme,
.testimonials {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    opacity: 0;
    pointer-events: none;

}

.hero {
    overflow: hidden;
    height: 350px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img {
    height: 350px;
    transition: transform 0.3s ease-out;
    cursor: pointer;

}

.hero a {
    display: flex;
}

.model-right {
    transform: translate(0%, 10%);
}

.model-left {
    transform: translate(0%, -10%);
}

.hero:hover .model-right {
    transform: translate(0%, 0%);
}

.hero:hover .model-left {
    transform: translate(0%, 0%);
}


.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 50px;
    font-family: PopRegular;
}

.details h2 {
    font-style: 40px;
    padding-bottom: 20px 0px;
}

.details p {
    font-size: 20px;
    padding: 20px 0px 50px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%);
}

.pages>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3 {
    font-size: 24px;
    padding: 30px;
}

.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(2);
}

.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(4);
    }
}

.banner {
    width: 100%;
    position: 100%;
    height: 500px;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;


}

.author {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.author h1 {
    font-size: 42px;
}

.author h3 {
    padding: 10px 0px;
    font-size: 32px;
}

.story,
.my-work {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
}

.story-description h3,
.work-description h3 {
    font-size: 36px;
    padding-bottom: 30px;
}

.story-description p,
.work-description p {
    padding: 20x 0px;
    font-size: 20px;
}

.work-gallery {

    display: grid;

}

.work-gallery {
    width: 100%;

}

@media (max-width: 1024px) {

    .pages {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .hero {
        grid-column: 2/3;
        height: auto;
    }

    .hero img {
        height: 500px;
    }

    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }

    .details h1 {
        font-size: 48px;

    }

    .details h2 {
        font-size: 38px;
    }

    .story,
    .my-work {
        flex-direction: column;
    }

    .story-description,
    .work-description {
        width: 100%;
    }

    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .profile {
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: 760px) {
    .page {
        grid-template-rows: 1fr 1fr;
    }

    .hero img {
        height: 300px;
    }

    .details h1 {
        font-weight: 30px;
    }

    .details h2 {
        font-weight: 28px;
    }


}

.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}

.contact {

    grid-column: 2/3;
}

.nav-open h3 {
    font-size: 20px;
    padding-bottom: 40px;
}

.nav-open p {
    font-size: 17px;
}

.social-links img {
    padding: 0px 20px;
}

.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
}