*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PopRegular;
    src: url('./fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: PopMedium;
    src: url('./fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: RobRegular;
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: RobMedium;
    src: url('./fonts/Roboto-Medium.ttf');
}
body {
    font-family: PopLight;

}
 html,
      body,
      ul,
      li {
        margin: 0;
        padding: 0;
      }
body .portofolio {
    overflow: hidden;
}

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);

}

.loader:before,
.loader:after {
    content: '';
    border: 1em solid #5CD3A1;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;

}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        ;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

}

.logo {
    font-size: 48px;

}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}




.container-jumbotron{
    width:  90%;
    margin:     60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    justify-content:    space-between   ; 
        height:     650px;

}

.jumbotron{
    display:    flex;           
    

}
.about h1{
    font-family:    RobMedium;
    margin-bottom:  10px;
    font-size:  48px;
}
.about h3{
    font-family:    RobMedium;
    font-size:  28px;
    margin-bottom:     30px;
}
.about p{
       font-family: PopMedium;
}
.about span{
    color:  #5CD3A1;
    font-weight:    bold;   
}
.about a {
    background-color:    #5CD3A1;
    text-decoration:    none;
    display :inline-block;
    width:  130px;
    height:     50px;
    line-height:    50px;
    text-align:     center; 
    color:  white;
    margin-top:     35px;
    border-radius:  10px;
}
.gambar .hiasan{
    position:   absolute;   
    top:    540px;
    left:   0;
}
.container-services{
    border-top:    1px solid rgba(0,0,0,0.1);
}
.container-services h1{
    text-align:     center; 
    margin-top:     100px;
    margin-bottom:  60px;
        width:  100%;
}
.container-services{
    width:  90%;
    margin:     60px auto;
    display:    grid;   
        grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    justify-content:    space-between   ; 



}
.services{
    display:    flex;   
    justify-content:   center; 
    align-content:  center; 

}
.card{
    width:  350px;
    height:     200px;
  box-shadow:   4px 4px rgba(0,0,0,0.1);
  margin:   auto;   
   border: 1px solid rgba(0,0,0,0.1);


}
.card img{
    margin-left:    125px;
    margin-top:     30px;
    width:  100px;
    height  :100px;

}
.card h6{
    text-align:     center; 

}
.social-links img {
  margin-right:     10px;
}

/*bukan mobile*/
.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}

.contact {

    grid-column: 2/3;
}

.nav-open h3 {
    font-size: 20px;
    padding-bottom: 40px;
}

.nav-open p {
    font-size: 12px;
}
.nav-open p a{
    text-decoration:    none;   
    color:  black;
    margin-right:   10px;
}
.social-links img {
  margin-right:     10px;
}

.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
}
@media (max-width: 1024px) {

.container-jumbotron{
    width:  90%;
    margin:     60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    justify-content:    space-between   ; 
        height:     650px;

}

.jumbotron{
    display:    flex;           
    

}

.about h1{
    font-family:    RobMedium;
    margin-bottom:  10px;
    font-size:  48px;
}
.about h3{
    font-family:    RobMedium;
    font-size:  28px;
    margin-bottom:     30px;
}
.about p{
       font-family: PopMedium;
}
.about span{
    color:  #5CD3A1;
    font-weight:    bold;   
}
.about a {
    background-color:    #5CD3A1;
    text-decoration:    none;
    display :inline-block;
    width:  130px;
    height:     50px;
    line-height:    50px;
    text-align:     center; 
    color:  white;
    margin-top:     35px;
    border-radius:  10px;
}
.gambar .hiasan{
    position:   absolute;   
    top:    480px;
    left:   0;
}

.services h1{
    text-align:     center; 
    margin-top:     100px;
    margin-bottom:  60px;
}

    .pages {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }

    .profile {
        padding-top: 30px;
        text-align: center;
    }
}
@media (max-width: 576px) {

.container-jumbotron{
    width:  90%;
    margin:     60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    /*justify-content:    space-between   ; */
        
grid-gap: 5px;
height:    600px;
}

.logo {
    font-size: 20px;

}

.jumbotron{
    

display:    flex;  

align-content:  center; 
justify-content:    space-around    ; 
}
.about{
    order:  2;
    width:  90%;
    position:   absolute;   
    top:    470px;


}
.about h1{
    font-family:    RobMedium;
    margin-bottom:  10px;
    font-size:  18px;
}
.about h3{
    font-family:    RobMedium;
    font-size:  12px;
    margin-bottom:     10px;
}
.about p{
       font-family: PopMedium;
       font-size:   10px;
}
.about span{
    color:  #5CD3A1;
    font-weight:    bold;   
}
.about a {
    background-color:    #5CD3A1;
    text-decoration:    none;
    display :inline-block;
    width:  100px;
    height:     50px;
    line-height:    50px;
    text-align:     center; 
    color:  white;
    margin-top:     20px;
    border-radius:  10px;
    font-size:  10px;
}

.gambar img.jumbo{
      width: 100%;
    height:     300px;

}
.gambar .hiasan{
    position:   absolute;   
    top:    680px;
    left:   0;
    width:  100px;
    
}


.container-services h1{
    text-align:     center; 
    margin-top:     80px;
    margin-bottom:  60px;
        width:  100%;
}
.container-services{
    width:  90%;
    margin:     60px auto;
    display:    grid;   
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    
    


}
.services{
    display:    flex;   
    justify-content:   space-around ; 
    align-content:  center; 
flex-wrap: wrap;
    max-width: 500px;
    margin:     auto;   
    position:   absolute;   
    top:    1000px;
}
.card{
    width:  300px;
    border: 1px solid rgba(0,0,0,0.1);
  box-shadow:   4px 4px rgba(0,0,0,0.1);
  margin:   auto;   
  border-radius:    10px;
margin-bottom:  15px;

}
.card img{
    margin-top:     30px;
    width:  100px;
    height  :100px;
    margin-left:    100px;

}
.card h6{
    text-align:     center; 

}
.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}

.contact {

    grid-column: 2/3;
}


.nav-open h3 {
    font-size: 13px;
    padding-bottom: 20px;
}
.daftar{
    margin-top:     15px;
}
.nav-open p {
    font-size: 12px;
}
.nav-open p a{
    text-decoration:    none;   
    color:  black;
    margin-right:   10px;
}


.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
} }

/*dekstop*/
@media (max-width: 760px) {
    .page {
        grid-template-rows: 1fr 1fr;
    }

    .hero img {
        height: 300px;
    }

    .details h1 {
        font-weight: 30px;
    }

    .details h2 {
        font-weight: 28px;
    }


.container-jumbotron{
    width:  90%;
    margin:     60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    /*justify-content:    space-between   ; */
        
grid-gap: 5px;
height:    600px;
}

.logo {
    font-size: 20px;

}

.jumbotron{
    

display:    flex;  

align-content:  center; 
justify-content:    space-around    ; 
}
.about{
    order:  2;
    width:  90%;
    position:   absolute;   
    top:    470px;


}
.about h1{
    font-family:    RobMedium;
    margin-bottom:  10px;
    font-size:  18px;
}
.about h3{
    font-family:    RobMedium;
    font-size:  12px;
    margin-bottom:     10px;
}
.about p{
       font-family: PopMedium;
       font-size:   10px;
}
.about span{
    color:  #5CD3A1;
    font-weight:    bold;   
}
.about a {
    background-color:    #5CD3A1;
    text-decoration:    none;
    display :inline-block;
    width:  100px;
    height:     50px;
    line-height:    50px;
    text-align:     center; 
    color:  white;
    margin-top:     20px;
    border-radius:  10px;
    font-size:  10px;
}

.gambar img.jumbo{
      width: 100%;
    height:     300px;

}
.gambar .hiasan{
    position:   absolute;   
    top:    680px;
    left:   0;
    width:  100px;
    
}


.container-services h1{
    text-align:     center; 
    margin-top:     80px;
    margin-bottom:  60px;
        width:  100%;
}
.container-services{
    width:  90%;
    margin:     60px auto;
    display:    grid;   
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        /*grid-template-rows: repeat(3, 500px); */
    
    


}
.services{
    display:    flex;   
    justify-content:   space-around ; 
    align-content:  center; 
flex-wrap: wrap;
    max-width: 500px;
    margin:     auto;   
    position:   absolute;   
    top:    1000px;
}
.card{
    width:  300px;
    border: 1px solid rgba(0,0,0,0.1);
  box-shadow:   4px 4px rgba(0,0,0,0.1);
  margin:   auto;   
  border-radius:    10px;
margin-bottom:  15px;

}
.card img{
    margin-top:     30px;
    width:  100px;
    height  :100px;
    margin-left:    100px;

}
.card h6{
    text-align:     center; 

}
.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}

.contact {

    grid-column: 2/3;
}


.nav-open h3 {
    font-size: 13px;
    padding-bottom: 20px;
}
.daftar{
    margin-top:     15px;
}
.nav-open p {
    font-size: 12px;
}
.nav-open p a{
    text-decoration:    none;   
    color:  black;
    margin-right:   10px;
}


.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
}
}
