@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
body {
  font-family: 'poppins', sans-serif;
}

.progress-container {
  height: 2px;
  width: 100%;
  z-index: 10000;
  position: absolute;
  top: 0;
}

.progress {
  height: 100%;
  width: 100%;
  background: #ff4754;
  -webkit-animation: progress 0.5s ease;
          animation: progress 0.5s ease;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  15% {
    width: 15%;
  }
  25% {
    width: 25%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  15% {
    width: 15%;
  }
  25% {
    width: 25%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 22px;
  width: 45px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 18px;
  width: 18px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
  width: 20px;
  height: 20px;
}

.fa-sun {
  color: #f39c12;
}

/* bouncing balls*/
section.loader {
  background-color: #4e4e4e;
  position: fixed;
  width: 100%;
  height: 100vh !important;
  z-index: 999999;
}

.bouncer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 35px);
}

.bouncer div {
  width: 15px;
  height: 15px;
  background-color: #e7e7e7;
  border-radius: 50%;
  -webkit-animation: bouncer 0.5s cubic-bezier(0, 0.91, 0.66, 1.03) infinite alternate;
          animation: bouncer 0.5s cubic-bezier(0, 0.91, 0.66, 1.03) infinite alternate;
}

.bouncer div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.bouncer div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bouncer div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.navbar {
  background-color: #ffffff;
  color: black !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.navbar svg {
  width: 30px;
  height: 30px;
}

.navbar .hamburger {
  fill: blanchedalmond;
}

.navbar .nav-color {
  color: white !important;
}

.navbar .collapse {
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
}

.navbar p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 6px;
}

.navbar ul li a {
  padding-top: 0;
}

.navbar img {
  height: 30px;
  width: 30px;
}

.jumbotron-content {
  font-family: 'poppins', sans-serif;
  min-height: 420px;
  margin-top: 135px;
}

.jumbotron-content h6 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.jumbotron-content p {
  font-size: 18px;
  margin-top: 12px;
  letter-spacing: 2px;
  line-height: 29px;
  font-weight: bold;
}

.jumbotron-content .foto img {
  margin-top: 30px;
  width: 180px;
  height: 180px;
}

.jumbotron-content .deskripsi img {
  margin-top: 30px;
  width: 23px;
  height: 23px;
  margin-right: 15px;
  margin-bottom: 100px;
}

.jumbotron-content .text-jumbo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.jumbotron-content .text-jumbo h1 {
  color: #4FCF9A;
  font-size: 28px;
}

.jumbotron-content .text-jumbo h3 {
  font-size: 24px;
}

.jumbotron-content .text-jumbo h3 span {
  color: #4FCF9A;
}

.jumbotron-content .text-jumbo p {
  font-family: 'poppins', sans-serif;
  margin-top: 20px;
}

/* button to top */
#topBtn {
  bottom: 30px;
  position: fixed;
  right: 15px;
  font-size: 22px;
  width: 40px;
  height: 45px;
  background-color: black;
  opacity: 0.65;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 9999999;
  border-radius: 5px;
}

#topBtn:hover {
  color: lightskyblue;
}

.services-content {
  border-top: 1px solid rgba(95, 95, 95, 0.1);
}

.services-content a {
  color: black;
}

.services-content h1 {
  font-size: 28px;
}

.services-content .card-services {
  border: 1px solid rgba(95, 95, 95, 0.1);
  border-radius: 10px;
  height: 280px;
  -webkit-box-shadow: 3px 5px 10px #888888;
          box-shadow: 3px 5px 10px #888888;
}

.services-content img {
  height: 150px;
  padding-top: 10px;
}

.services-content a {
  text-decoration: none;
}

.services-content .card-services:hover {
  -webkit-box-shadow: 1px 3px 18px #888888;
          box-shadow: 1px 3px 18px #888888;
}

.services-content h6 {
  font-size: 16px;
}

.services-content p {
  font-size: 12px;
  text-align: left;
  padding: 3px 10px 40px 20px;
}

.services-content.text-services {
  border: none;
}

.services-contentt {
  margin-top: 60px;
}

.services-contentt h1 {
  font-size: 28px;
}

.services-contentt .card-servicess {
  background-color: white;
  border: 1px solid rgba(95, 95, 95, 0.1);
  border-radius: 10px;
  height: 300px;
  -webkit-box-shadow: 3px 5px 10px #888888;
          box-shadow: 3px 5px 10px #888888;
}

.services-contentt .card-servicess:hover {
  -webkit-box-shadow: 1px 3px 18px #888888;
          box-shadow: 1px 3px 18px #888888;
}

.services-contentt img {
  height: 250px;
  width: 100%;
}

.services-contentt h4 {
  font-size: 18px;
}

.services-contentt p {
  font-size: 13px;
  margin-top: 13px;
}

.projectt {
  margin-top: 80px;
  font-size: 16px;
}

.project h1 {
  font-size: 28px;
}

.project p {
  margin-top: 10px;
  font-size: 16px;
}

.project a {
  text-decoration: none;
}

.project a .color-teks {
  color: white !important;
}

.project img {
  border-radius: 20px;
}

.project img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project .modal-gambar {
  background: black;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.project .modal-gambar p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.project .modal-gambar.open {
  opacity: 1;
  z-index: 999999;
  pointer-events: all;
}

.project .full-img {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.project .full-img-open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.project-full h1 {
  font-size: 28px;
}

.project-full a {
  text-decoration: none;
  color: black;
}

.project-full img {
  border-radius: 20px;
}

.project-full img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-full .modal-gambar {
  background: black;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.project-full .modal-gambar p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.project-full .modal-gambar.open {
  opacity: 1;
  z-index: 999999;
  pointer-events: all;
}

.project-full .full-img {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.project-full .full-img-open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.tools {
  margin-bottom: 30px;
  text-align: left;
}

.tools h1 {
  font-size: 28px;
}

.tools img {
  width: 120px;
  height: 80px;
}

.coronavirus {
  margin-top: 65px;
}

.coronavirus #updatet p {
  font-size: 12px !important;
}

.coronavirus .jumbotron {
  background-color: white;
}

.coronavirus .judul h1 {
  font-size: 24px;
}

.coronavirus .judul p {
  font-size: 14px;
}

.coronavirus .card {
  border: none;
  -webkit-box-shadow: 1px 5px 8px gray;
          box-shadow: 1px 5px 8px gray;
  border-radius: 10px;
  margin-bottom: 18px;
}

.coronavirus h4 {
  font-size: 18px;
}

.coronavirus .card-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coronavirus .card-case img {
  height: 60px;
  width: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.coronavirus .card-case p {
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
}

.tabelcuy {
  margin-top: -20px;
  font-size: 10px !important;
}

table {
  width: 100px !important;
  overflow: auto !important;
}

tr th {
  background-color: #1d1d1f !important;
  color: white !important;
}

.tbcolor td {
  background-color: #4a4e69 !important;
  color: white !important;
}

.judulkartu h5 {
  font-size: 14px !important;
}

#bgtable {
  overflow: auto;
}

.bgtablewarna {
  background-color: #4a4e69;
  color: white;
}

.tabelwarna {
  background-color: #4a4e69;
  color: white;
}

.statistik figure {
  margin-bottom: 60px !important;
}

.trcolor {
  color: black !important;
}

.footer {
  border-top: 1px solid rgba(95, 95, 95, 0.1);
  min-height: 280px;
  background-color: #292C35;
  color: white;
}

.footer .footer-bakcground h3 {
  font-size: 25px;
}

.footer .footer-bakcground p {
  font-size: 12px;
}

.footer .footer-bakcground a {
  color: white;
}

.footer .footer-bakcground img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.file {
  margin-top: 60px;
}

.file h1 {
  font-size: 28px;
}

@media (min-width: 768px) {
  .navbar {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
  }
  .navbar p {
    font-size: 16px;
    margin-top: 6px;
  }
  .navbar ul li a {
    padding-top: 0;
  }
  .jumbotron-content {
    font-family: 'poppins', sans-serif;
  }
  .jumbotron-content h6 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
  .jumbotron-content p {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .jumbotron-content .foto img {
    margin-top: 50px;
    width: 210px;
    height: 210px;
  }
  .jumbotron-content .deskripsi img {
    margin-top: 25px;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .services-content .card-services {
    height: 350px !important;
  }
  .services-content h6 {
    font-size: 18px;
  }
  .services-content p {
    font-size: 12px;
  }
  .services-content img {
    width: 100%;
  }
  #bgtable {
    width: 100%;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif;
  }
  #cardtable {
    height: 70vh !important;
    overflow: scroll;
    margin: 20px 0 20px 0 !important;
    padding-top: 0px !important;
    width: 100%;
  }
  table {
    width: 100%;
  }
  .trcolor {
    background-color: #2c2f3d;
    color: white !important;
  }
  .tbcolor td {
    background-color: #4a4e69 !important;
    color: white !important;
  }
  .progress-container {
    height: 4px;
    width: 100%;
    z-index: 10000;
    position: absolute;
  }
  .progress {
    height: 100%;
    width: 100%;
    background: #ff4754;
    -webkit-animation: progress 0.5s ease;
            animation: progress 0.5s ease;
  }
  @-webkit-keyframes progress {
    0% {
      width: 0%;
    }
    15% {
      width: 15%;
    }
    25% {
      width: 25%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes progress {
    0% {
      width: 0%;
    }
    15% {
      width: 15%;
    }
    25% {
      width: 25%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 22px;
    width: 45px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 18px;
    width: 18px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .checkbox:checked + .label .ball {
    -webkit-transform: translateX(24px);
            transform: translateX(24px);
  }
  .fa-moon {
    color: #f1c40f;
    width: 20px;
    height: 20px;
  }
  .fa-sun {
    color: #f39c12;
  }
  .navbar {
    font-family: 'poppins', sans-serif;
    z-index: 12;
    font-size: 16px;
  }
  .navbar .bayangan {
    background-color: #ff4754 !important;
  }
  .navbar .nav-color {
    color: white !important;
  }
  .navbar .collapse {
    border: none;
  }
  .navbar p {
    font-size: 16px;
    margin-top: 6px;
  }
  .navbar ul li a {
    padding-top: 0;
  }
  .navbar .nav-link:hover {
    color: #a5a5a5 !important;
  }
  .jumbotron-content {
    margin-top: 130px;
    font-family: 'poppins', sans-serif;
    height: 80vh;
  }
  .jumbotron-content h6 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    font-weight: 700;
  }
  .jumbotron-content p {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .jumbotron-content .foto img {
    margin-top: 60px;
    width: 210px;
    height: 210px;
  }
  .jumbotron-content .deskripsi img {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .jumbotron-content .text-jumbo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .jumbotron-content .text-jumbo h1 {
    color: #4FCF9A;
    font-size: 42px;
  }
  .jumbotron-content .text-jumbo h3 {
    font-size: 24px;
  }
  .jumbotron-content .text-jumbo h3 span {
    color: #4FCF9A;
  }
  .jumbotron-content .text-jumbo p {
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
  }
  .services-content {
    font-family: 'Poppins', sans-serif;
  }
  .services-content .card-services {
    height: 340px;
  }
  .services-content .card-services img {
    height: 200px;
  }
  .services-content .card-services a {
    color: #000;
  }
  .services-content h1 {
    font-size: 42px;
  }
  .services-content h6 {
    font-size: 22px;
    padding-top: 8px;
  }
  .services-content p {
    font-size: 13px;
    margin-top: 5px;
  }
  .projectt {
    margin-top: 80px;
  }
  .project h1 {
    font-size: 42px;
  }
  .project h6 {
    font-size: 16px;
  }
  .project p {
    margin-top: 10px;
    font-size: 16px;
  }
  .project .color-teks {
    color: white !important;
  }
  .tools {
    margin-bottom: 60px;
  }
  .tools h1 {
    font-size: 42px;
  }
  .tools img {
    width: 128px;
    height: 100px;
  }
  .trcolor {
    background-color: #2c2f3d;
    color: white !important;
  }
  .tbcolor td {
    background-color: #4a4e69 !important;
    color: white !important;
  }
  table {
    width: 100% !important;
  }
  #bgtablewarna {
    background-color: #4a4e69 !important;
    color: white;
  }
  .coronavirus {
    margin-top: 80px;
    font-family: 'poppins', sans-serif;
  }
  .coronavirus #updatet p {
    font-size: 14px !important;
  }
  .coronavirus .jumbotron {
    background-color: white;
  }
  .coronavirus .judul h1 {
    font-size: 42px;
  }
  .coronavirus .judul p {
    font-size: 22px;
  }
  .coronavirus h4 {
    font-size: 26px;
  }
  .coronavirus .card {
    border: none;
    -webkit-box-shadow: 1px 5px 8px gray;
            box-shadow: 1px 5px 8px gray;
    border-radius: 10px;
  }
  .coronavirus .card .color-posi {
    background-color: #292C35 !important;
    color: green !important;
  }
  .coronavirus .card-case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .coronavirus .card-case img {
    height: 60px;
    width: 60px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .coronavirus .card-case p {
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: auto;
  }
  .updatecolor {
    color: black !important;
  }
  .tabelcuy {
    margin-top: -25px;
  }
  #bgtable {
    width: 100%;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif;
  }
  #cardtable {
    height: 70vh !important;
    overflow: scroll;
    margin: 20px 0 20px 0 !important;
    padding-top: 0px !important;
    width: 100%;
  }
  .statistik {
    margin-top: 90px !important;
    margin-bottom: 100px;
  }
  .footer {
    border-top: 1px solid rgba(95, 95, 95, 0.1);
    min-height: 250px;
    background-color: #292C35;
    color: white;
  }
  .footer .hiasan img {
    width: 265px !important;
    height: 265px !important;
  }
  .footer .footer-bakcground h3 {
    font-size: 32px;
  }
  .footer .footer-bakcground p {
    font-size: 18px;
  }
  .footer .footer-bakcground a {
    color: white;
  }
  .footer .footer-bakcground a:hover {
    color: black;
  }
  .footer .footer-bakcground img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
  .file {
    margin-top: 80px;
  }
  .file img {
    border-radius: 0 30px 0 0;
  }
  .file h1 {
    font-size: 42px;
  }
  /* button to top */
  #topBtn {
    bottom: 30px;
    position: fixed;
    right: 15px;
    font-size: 22px;
    width: 40px;
    height: 45px;
    background-color: black;
    opacity: 0.65;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 9999999;
    border-radius: 5px;
  }
  #topBtn:hover {
    color: lightskyblue;
  }
  .progress-container {
    height: 4px;
    width: 100%;
    z-index: 10000;
    position: absolute;
    top: 0;
  }
  .progress {
    height: 100%;
    width: 100%;
    background: #ff4754;
    -webkit-animation: progress 0.5s ease;
            animation: progress 0.5s ease;
  }
  @-webkit-keyframes progress {
    0% {
      width: 0%;
    }
    15% {
      width: 15%;
    }
    25% {
      width: 25%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes progress {
    0% {
      width: 0%;
    }
    15% {
      width: 15%;
    }
    25% {
      width: 25%;
    }
    75% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }
}

ul li a.aktif {
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 100%;
  max-width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
/*# sourceMappingURL=main.css.map */