body {

    font-family: 'poppins', sans-serif;
}

.animate__animated.animate__fadeInUp.card1 {
    --animate-duration: 1s;
}

.animate__animated.animate__fadeInUp.card2 {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInUp.card3 {
    --animate-duration: 3s;
}


/* bouncing balls*/
section.loader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100vh !important;
    z-index: 999999;
    // margin-top: 60px;
}

.bouncer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 35px);
}

.bouncer div {
    width: 15px;
    height: 15px;
    background-color: #262726;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(0, .91, .66, 1.03) infinite alternate;
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
}

.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
}

.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes bouncer {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100px);
    }
}



.navbar {
    background-color: white !important;
    color: black !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    .collapse {
        border-bottom: 1px solid rgb(214, 214, 214);
        width: 100%;
    }


    p {
        font-size: 16px;
        // padding-top: 15px;
        font-weight: 700;
        margin-top: 6px;
    }

    ul li a {
        padding-top: 0;

    }



    img {
        height: 30px;
        width: 30px;
    }




}


.jumbotron-content {
    font-family: 'poppins', sans-serif;
    min-height: 500px;
    margin-top: 30px;

    h6 {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 5px;
        letter-spacing: 1.5px;
        font-weight: 700;

    }

    p {
        font-size: 18px;
        // margin-bottom: 24px;
        letter-spacing: 2px;

    }

    .foto {
        img {
            margin-top: 30px;
            width: 180px;
            height: 180px;
        }
    }


    .deskripsi {
        img {
            margin-top: 30px;
            width: 23px;
            height: 23px;
            margin-right: 15px;
            margin-bottom: 30px;
        }
    }

    .text-jumbo {
        order: 1;

        h1 {

            color: #4FCF9A;
            font-size: 42px;
        }

        h3 {
            font-size: 24px;


            span {
                color: #4FCF9A;
            }
        }

        p {
            font-family: 'poppins', sans-serif;
            margin-top: 20px;
        }
    }


}

// topbtn
/* button to top */
#topBtn {
    bottom: 30px;
    position: fixed;
    right: 15px;
    font-size: 22px;
    width: 40px;
    height: 45px;
    background-color: black;
    opacity: 0.65;


    color: white;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 9999999;
    border-radius: 5px;

}

#topBtn:hover {
    color: lightskyblue;
}

// loader

// loader

// .loader_bg {
//     position: fixed;
//     z-index: 999999;
//     background: #fff;
//     width: 100%;
//     height: 100%;
// }

// .loader {
//     border: 0 solid transparent;
//     border-radius: 50%;
//     width: 150px;
//     height: 150px;
//     position: absolute;
//     top: calc(50vh - 75px);
//     left: calc(50vw - 75px);

// }

// .loader:before,
// .loader:after {
//     content: '';
//     border: 1em solid #0d8b57;
//     border-radius: 50%;
//     width: inherit;
//     height: inherit;
//     position: absolute;
//     top: 0;
//     left: 0;
//     animation: loader 2s linear infinite;
//     opacity: 0;

// }

// .loader:before {
//     animation-delay: .5s;
// }

// @keyframes loader {
//     0% {
//         transform: scale(0);
//         ;
//         opacity: 0;
//     }

//     50% {
//         opacity: 1;
//     }

//     100% {
//         transform: scale(1);
//         opacity: 0;
//     }
// }



// Services
.services-content {
    border-top: 1px solid rgba(95, 95, 95, 0.1);


    h1 {
        font-size: 28px;
    }

    .card-services {
        background-color: white;
        border: 1px solid rgba(95, 95, 95, 0.1);
        border-radius: 10px;
        height: 290px;
        box-shadow: 3px 5px 10px #888888;

    }

    img {
        height: 150px;
        padding-top: 10px;

    }

    a {
        text-decoration: none;
    }

    .card-services:hover {
        box-shadow: 1px 3px 18px #888888;


    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
        text-align: left;
        padding: 5px 10px 40px 20px;
    }
}

.services-content.text-services {
    border: none;
}

// halaman services
.services-contentt {
    h1 {
        font-size: 28px;
    }

    .card-servicess {
        background-color: white;
        border: 1px solid rgba(95, 95, 95, 0.1);
        border-radius: 10px;
        height: 300px;
        box-shadow: 3px 5px 10px #888888;

    }

    .card-servicess:hover {
        box-shadow: 1px 3px 18px #888888;

    }

    img {
        height: 250px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
        margin-top: 13px;
    }

}

// portfolio

.project {

    h1 {
        font-size: 28px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        border-radius: 20px;

    }

    img:hover {


        opacity: 0.8;
        cursor: pointer;

    }


    .modal-gambar {
        background: black;
        opacity: 0;

        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.25s ease-out;
    }

    .modal-gambar p {
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    .modal-gambar.open {
        opacity: 1;
        z-index: 999999;
        pointer-events: all;
    }

    .full-img {
        position: absolute;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.2s ease-out;

    }

    .full-img-open {
        transform: translate(-50%, -50%) scale(1);

    }


}


.project-full {

    h1 {
        font-size: 28px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        border-radius: 20px;

    }

    img:hover {


        opacity: 0.8;
        cursor: pointer;

    }


    .modal-gambar {
        background: black;
        opacity: 0;

        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.25s ease-out;
    }

    .modal-gambar p {
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    .modal-gambar.open {
        opacity: 1;
        z-index: 999999;
        pointer-events: all;
    }

    .full-img {
        position: absolute;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.2s ease-out;

    }

    .full-img-open {
        transform: translate(-50%, -50%) scale(1);

    }


}

// tools and skilss
.tools {
    margin-bottom: 30px;
    text-align: left;

    h1 {
        font-size: 28px;
    }

    img {
        width: 120px;
        height: 80px;

    }



}

// footer{
.footer {
    border-top: 1px solid rgba(95, 95, 95, 0.1);
    min-height: 280px;
    background-color: #333333;
    color: white;

    .footer-bakcground {
        h3 {
            font-size: 25px;
        }

        p {
            font-size: 12px;
        }

        a {
            color: white;
        }

        img {
            width: 35px;
            height: 35px;
            margin-right: 5px;
        }
    }



}

.file {
    h1 {
        font-size: 28px;
    }

}

@media (min-width: 768px) {
    .navbar {
        font-size: 16px;

        p {
            font-size: 16px;
            // padding-top: 15px;
            margin-top: 6px;
        }

        ul li a {
            padding-top: 0;
        }




    }



    .jumbotron-content {
        font-family: 'poppins', sans-serif;


        h6 {
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 5px;
            letter-spacing: 1.5px;
            font-weight: 700;

        }

        p {
            font-size: 16px;
            // margin-bottom: 24px;
            letter-spacing: 2px;
            font-weight: 700;

        }

        .foto {
            img {
                margin-top: 50px;
                width: 210px;
                height: 210px;
            }
        }


        .deskripsi {
            img {
                margin-top: 25px;
                width: 28px;
                height: 28px;
                margin-right: 20px;
                margin-bottom: 40px;
            }
        }



    }

    // services
    .services-content {
        .card-services {
            height: 350px !important;
        }


        h6 {
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }

        .animate__animated.animate__fadeInUp.card1 {
            --animate-duration: 1s;
        }

        .animate__animated.animate__fadeInUp.card2 {
            --animate-duration: 1.4s;
        }

        .animate__animated.animate__fadeInUp.card3 {
            --animate-duration: 1.8s;
        }
    }

}

// dekstop
@media (min-width: 992px) {
    .navbar {
        .collapse {
            border: none;
        }

        font-size: 16px;

        p {
            font-size: 16px;
            // padding-top: 15px;
            margin-top: 6px;
        }

        ul li a {
            padding-top: 0;
        }


    }



    .jumbotron-content {
        font-family: 'poppins', sans-serif;
        height: 80vh;

        h6 {
            font-size: 32px;
            margin-top: 30px;
            margin-bottom: 5px;
            letter-spacing: 1.5px;
            font-weight: 700;

        }

        p {
            font-size: 24px;
            // margin-bottom: 24px;
            letter-spacing: 2px;
            font-weight: 700;

        }

        .foto {
            img {
                margin-top: 60px;
                width: 210px;
                height: 210px;
            }
        }


        .deskripsi {
            img {
                margin-top: 30px;
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }
        }

        .text-jumbo {
            order: 1;

            h1 {

                color: #4FCF9A;
                font-size: 42px;
            }

            h3 {
                font-size: 24px;


                span {
                    color: #4FCF9A;
                }
            }

            p {
                font-family: 'poppins', sans-serif;
                margin-top: 20px;
            }
        }


    }

    // services
    .services-content {
        .card-services {
            height: 320px;
        }

        h1 {
            font-size: 42px;
        }

        h6 {
            font-size: 22px;
            padding-top: 8px;
        }

        p {
            font-size: 13px;
            margin-top: 38px;
        }

        .animate__animated.animate__fadeInUp.card1 {
            --animate-duration: 1s;
        }

        .animate__animated.animate__fadeInUp.card2 {
            --animate-duration: 1.4s;
        }

        .animate__animated.animate__fadeInUp.card3 {
            --animate-duration: 1.8s;
        }
    }


    // project
    .project {
        h1 {
            font-size: 42px;
        }

        h6 {
            font-size: 16px;
        }

    }


    // tools
    .tools {

        margin-bottom: 60px;

        h1 {
            font-size: 42px;
        }

        img {
            width: 128px;
            height: 100px;

        }



    }

    // footer
    .footer {
        border-top: 1px solid rgba(95, 95, 95, 0.1);
        min-height: 250px;
        background-color: #333333;
        color: white;

        .hiasan {




            img {
                width: 265px !important;
                height: 265px !important;
            }
        }

        .footer-bakcground {
            h3 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
            }

            a {
                color: white;
            }

            a:hover {
                color: black;
            }

            img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
            }
        }



    }

    .file {
        img {
            border-radius: 0 30px 0 0;
        }
    }

    /* button to top */
    #topBtn {
        bottom: 30px;
        position: fixed;
        right: 15px;
        font-size: 22px;
        width: 40px;
        height: 45px;
        background-color: black;
        opacity: 0.65;


        color: white;
        border: none;
        cursor: pointer;
        display: none;
        z-index: 9999999;
        border-radius: 5px;

    }

    #topBtn:hover {
        color: lightskyblue;
    }

    // // loader

    // .loader_bg {
    //     position: fixed;
    //     z-index: 999999;
    //     background: #fff;
    //     width: 100%;
    //     height: 100%;
    // }

    // .loader {
    //     border: 0 solid transparent;
    //     border-radius: 50%;
    //     width: 150px;
    //     height: 150px;
    //     position: absolute;
    //     top: calc(50vh - 75px);
    //     left: calc(50vw - 75px);

    // }

    // .loader:before,
    // .loader:after {
    //     content: '';
    //     border: 1em solid #0d8b57;
    //     border-radius: 50%;
    //     width: inherit;
    //     height: inherit;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     animation: loader 2s linear infinite;
    //     opacity: 0;

    // }

    // .loader:before {
    //     animation-delay: .5s;
    // }

    // @keyframes loader {
    //     0% {
    //         transform: scale(0);
    //         ;
    //         opacity: 0;
    //     }

    //     50% {
    //         opacity: 1;
    //     }

    //     100% {
    //         transform: scale(1);
    //         opacity: 0;
    //     }
    // }



    /* bouncing balls*/
    section.loader {
        background-color: #fff;
        position: fixed;
        width: 100%;
        height: 100vh !important;
        z-index: 999999;
        // margin-top: 60px;
    }

    .bouncer {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50vh - 75px);
        left: calc(50vw - 50px);
    }

    .bouncer div {
        width: 20px;
        height: 20px;
        background-color: #262726;
        border-radius: 50%;
        animation: bouncer 0.5s cubic-bezier(0, .91, .66, 1.03) infinite alternate;
    }

    .bouncer div:nth-child(2) {
        animation-delay: 0.1s;
    }

    .bouncer div:nth-child(3) {
        animation-delay: 0.2s;
    }

    .bouncer div:nth-child(4) {
        animation-delay: 0.3s;
    }

    @keyframes bouncer {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-100px);
        }
    }
}

// .active {
//     color: red !important;
// }
//  {
//     position: relative;
//     d
// }
ul li a.aktif {
    color: black !important;
    text-decoration: none;

}